# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Documentation
docs

# OS Files
.DS_Store
Thumbs.db